[Unit]
Description=Discord NSE Data Bot Service
After=network.target

[Service]
User=discord_bot_user
Group=discord_bot_user
WorkingDirectory=/opt/discord_nse_data_bot/src
ExecStart=/opt/discord_nse_data_bot/venv/bin/python /opt/discord_nse_data_bot/src/main.py
Restart=on-failure

# Logging configuration
LogsDirectory=discord_nse_data_bot
StandardOutput=file:/var/log/discord_nse_data_bot/bot.log
StandardError=inherit

Environment=MPLCONFIGDIR=/tmp/discord_nse_data_bot/.matplotlib
EnvironmentFile=/etc/discord_nse_data_bot.env

[Install]
WantedBy=multi-user.target
